RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *
 
#role
RewriteRule ^roles$ controllers/settings/user/role/role.php [L]
RewriteRule ^roles/([0-9]+)$ controllers/settings/user/role/role.php?roleid=$1 [L]
RewriteRule ^roles/active/([0-9]+)$ controllers/settings/user/role/active.php?roleid=$1 [L]
 
#SETTINGS USER SYSTEM
RewriteRule ^user-systems$ controllers/settings/user/system/system.php [L]
RewriteRule ^user-systems/([0-9]+)$ controllers/settings/user/system/system.php?usersystemid=$1 [L]
RewriteRule ^user-systems/active/([0-9]+)$ controllers/settings/user/system/active.php?usersystemid=$1 [L] 
RewriteRule ^user-systems/reset$ controllers/settings/user/system/reset.php [L] 
RewriteRule ^user-systems/key/([A-Za-z0-9-]+)$ controllers/settings/user/system/key.php?usersystemkey=$1 [L]
RewriteRule ^user-systems/password$ controllers/settings/user/system/set-password.php [L]
RewriteRule ^user-systems/login$ controllers/settings/user/system/login.php [L]
RewriteRule ^user-systems/token$ controllers/settings/user/system/token.php [L]

#SETTINGS USER OTHER
RewriteRule ^user-others$ controllers/settings/user/other/other.php [L]
RewriteRule ^user-others/([0-9]+)$ controllers/settings/user/other/other.php?userotherid=$1 [L]
RewriteRule ^user-others/active/([0-9]+)$ controllers/settings/user/other/active.php?userotherid=$1 [L] 
RewriteRule ^user-others/reset$ controllers/settings/user/other/reset.php [L] 
RewriteRule ^user-others/key/([A-Za-z0-9-]+)$ controllers/settings/user/other/key.php?userotherkey=$1 [L]
RewriteRule ^user-others/password$ controllers/settings/user/other/set-password.php [L]
RewriteRule ^user-others/login$ controllers/settings/user/other/login.php [L]
RewriteRule ^user-others/token$ controllers/settings/user/other/token.php [L]
RewriteRule ^user-others/sign-up$ controllers/settings/user/other/sign-up.php [L]
RewriteRule ^user-others/page/([0-9]+)$ controllers/settings/user/other/page.php?start=$1 [L]
RewriteRule ^user-others/search/([A-Za-z0-9-]+)$ controllers/settings/user/other/search.php?search=$1 [L]
  
#announcement or dashboard
RewriteRule ^announcement$ controllers/dashboard/dashboard.php [L]
RewriteRule ^announcement/([0-9]+)$ controllers/dashboard/dashboard.php?announcementid=$1 [L]
RewriteRule ^announcement/active/([0-9]+)$ controllers/dashboard/active.php?announcementid=$1 [L]
RewriteRule ^announcement/page/([0-9]+)$ controllers/dashboard/page.php?start=$1 [L]
RewriteRule ^announcement/search$ controllers/dashboard/search.php [L]
RewriteRule ^announcement/member/page/([0-9]+)$ controllers/dashboard/member-page.php?start=$1 [L]
RewriteRule ^announcement/member/search$ controllers/dashboard/search-all-active.php [L]
  
#members
RewriteRule ^members$ controllers/account/account.php [L]
RewriteRule ^members/([0-9]+)$ controllers/account/account.php?membersid=$1 [L]
RewriteRule ^members/status/([0-9]+)$ controllers/account/status.php?membersid=$1 [L]
RewriteRule ^members/page/([0-9]+)$ controllers/account/page.php?start=$1 [L]
RewriteRule ^member/page/([0-9]+)/([A-Za-z0-9-]+)$ controllers/account/page.php?start=$1&approved=$2 [L]
RewriteRule ^members/search$ controllers/account/search.php [L]
RewriteRule ^members/approved$ controllers/account/read-all-approved.php [L]
RewriteRule ^members/search/approved$ controllers/account/search-approved.php [L]
RewriteRule ^members/([0-9]+)/([A-Za-z0-9-]+)$ controllers/account/account.php?membersid=$1&isUpdate=$2 [L]
RewriteRule ^members/name/([0-9]+)$ controllers/account/read-name.php?membersid=$1 [L]
RewriteRule ^members/read-subscribe-capital-by-id/([0-9]+)$ controllers/account/read-subscribe-capital-by-id.php?membersid=$1 [L]

#beneficiaries
RewriteRule ^beneficiaries$ controllers/account/details/beneficiaries/beneficiaries.php [L]
RewriteRule ^beneficiaries/([0-9]+)$ controllers/account/details/beneficiaries/beneficiaries.php?beneficiariesid=$1 [L] 

#savings
RewriteRule ^savings$ controllers/account/details/savings/savings.php [L]
RewriteRule ^savings/([0-9]+)$ controllers/account/details/savings/savings.php?savingsid=$1 [L] 
RewriteRule ^savings/page/([0-9]+)/([0-9]+)$ controllers/account/details/savings/page.php?start=$1&membersid=$2 [L]
RewriteRule ^savings/search/([A-Za-z0-9-]+)/([0-9]+)$ controllers/account/details/savings/search.php?search=$1&membersid=$2 [L]

#capital share
RewriteRule ^capital-share$ controllers/account/details/capital-share/capitalShare.php [L]
RewriteRule ^capital-share/([0-9]+)$ controllers/account/details/capital-share/capitalShare.php?shareid=$1 [L] 
RewriteRule ^capital-share/page/([0-9]+)/([0-9]+)$ controllers/account/details/capital-share/page.php?start=$1&membersid=$2 [L]
RewriteRule ^capital-share/search-by-id/([0-9]+)$ controllers/account/details/capital-share/search-by-id.php?membersid=$1 [L]
RewriteRule ^capital-share/read-total-capital/([0-9]+)$ controllers/account/details/capital-share/read-capital-total.php?memberId=$1 [L]
RewriteRule ^capital-share/update-capital-details/([0-9]+)$ controllers/account/details/capital-share/update-capital-details.php?membersId=$1 [L]

#patronage
RewriteRule ^patronage/page/by-employee-id/([0-9]+)/([0-9]+)$ controllers/account/details/patronage/page-by-employee-id.php?start=$1&membersid=$2 [L]
RewriteRule ^patronage/active/([0-9]+)$ controllers/account/details/patronage/active.php?orderid=$1 [L]
RewriteRule ^patronage/search/by-employee-id/([A-Za-z0-9-]+)/([0-9]+)$ controllers/account/details/patronage/search-by-employee-id.php?search=$1&membersid=$2 [L]
RewriteRule ^patronage/filter/by-employee-id/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([0-9]+)$ controllers/account/details/patronage/filter-by-employee-id.php?startDate=$1&endDate=$2&membersid=$3 [L]

#files
RewriteRule ^file$ controllers/files/files.php [L]
RewriteRule ^file/([0-9]+)$ controllers/files/files.php?fileid=$1 [L] 
RewriteRule ^file/page/([0-9]+)$ controllers/files/page.php?start=$1 [L]
RewriteRule ^file/search$ controllers/files/search.php [L]

#products 
RewriteRule ^product/page/([0-9]+)$ controllers/inventory/products/page.php?start=$1 [L]
RewriteRule ^product/([0-9]+)$ controllers/inventory/products/update-price.php?supplierProductsId=$1 [L]  
RewriteRule ^product/search/product$ controllers/inventory/products/search-product.php [L]

#stocks
RewriteRule ^stocks$ controllers/inventory/stocks/stocks.php [L]
RewriteRule ^stocks/([0-9]+)$ controllers/inventory/stocks/stocks.php?stockid=$1 [L] 
RewriteRule ^stocks/active/([0-9]+)$ controllers/inventory/stocks/active.php?stockid=$1 [L]
RewriteRule ^stocks/page/([0-9]+)$ controllers/inventory/stocks/page.php?start=$1 [L]
RewriteRule ^stocks/search$ controllers/inventory/stocks/search.php [L]
RewriteRule ^stocks/group-by-prod$ controllers/inventory/stocks/group-by-product-number.php [L]

#Net Surplus
RewriteRule ^net-surplus$ controllers/settings/net-surplus/net-surplus.php [L]
RewriteRule ^net-surplus/([0-9]+)$ controllers/settings/net-surplus/net-surplus.php?netId=$1 [L] 
RewriteRule ^net-surplus/page/([0-9]+)$ controllers/settings/net-surplus/page.php?start=$1 [L]
RewriteRule ^net-surplus/search/([A-Za-z0-9-]+)$ controllers/settings/net-surplus/search.php?search=$1 [L]

#category 
RewriteRule ^category$ controllers/inventory/category/category.php [L]
RewriteRule ^category/([0-9]+)$ controllers/inventory/category/category.php?categoryid=$1 [L]
RewriteRule ^category/active/([0-9]+)$ controllers/inventory/category/active.php?categoryid=$1 [L]
RewriteRule ^category/page/([0-9]+)$ controllers/inventory/category/page.php?start=$1 [L]
RewriteRule ^category/search$ controllers/inventory/category/search.php [L]

#ORDERS 
RewriteRule ^orders$ controllers/inventory/orders/orders.php [L]
RewriteRule ^orders/([0-9]+)$ controllers/inventory/orders/orders.php?orderid=$1 [L]
RewriteRule ^orders/active/([0-9]+)$ controllers/inventory/orders/active.php?orderid=$1 [L]
RewriteRule ^orders/page/([0-9]+)$ controllers/inventory/orders/page.php?start=$1 [L]
RewriteRule ^orders/search$ controllers/inventory/orders/search.php [L]
RewriteRule ^orders/group-by-prod$ controllers/inventory/orders/group-by-product-number.php [L]
RewriteRule ^orders/invoice/page/([0-9]+)$ controllers/inventory/orders/invoice-page.php?start=$1 [L]
RewriteRule ^orders/invoice/search/([A-Za-z0-9-]+)$ controllers/inventory/orders/invoice-search.php?search=$1 [L]
RewriteRule ^orders/pending/by-member-id/([0-9]+)$ controllers/inventory/orders/pending-by-member-id.php?memberId=$1 [L]
RewriteRule ^orders/all-pending$ controllers/inventory/orders/pending-order.php [L]
   
#suppliers 
RewriteRule ^suppliers$ controllers/inventory/suppliers/suppliers.php [L]
RewriteRule ^suppliers/([0-9]+)$ controllers/inventory/suppliers/suppliers.php?supplierid=$1 [L]
RewriteRule ^suppliers/active/([0-9]+)$ controllers/inventory/suppliers/active.php?supplierid=$1 [L]
RewriteRule ^suppliers/page/([0-9]+)$ controllers/inventory/suppliers/page.php?start=$1 [L]
RewriteRule ^suppliers/search$ controllers/inventory/suppliers/search.php [L]
  
#suppliers product
RewriteRule ^suppliers-product$ controllers/inventory/suppliers/product/suppliers-product.php [L]
RewriteRule ^suppliers-product/([0-9]+)$ controllers/inventory/suppliers/product/suppliers-product.php?supplierProductsid=$1 [L] 
RewriteRule ^suppliers-product/update/([0-9]+)$ controllers/inventory/suppliers/product/update-price.php?supplierProductsid=$1 [L] 
RewriteRule ^suppliers-product/by-supplier-product-id/([0-9]+)$ controllers/inventory/suppliers/product/supplier-product-by-id.php?supplierProductsid=$1 [L] 
RewriteRule ^suppliers-product/page/supplier-id/([0-9]+)/([0-9]+)$ controllers/inventory/suppliers/product/read-by-supplier-id.php?start=$1&supplierid=$2 [L]
RewriteRule ^suppliers-product/read-supplier-id/([0-9]+)$ controllers/inventory/suppliers/product/read-by-supplier-id.php?supplierid=$1 [L]
RewriteRule ^suppliers-product/page/([0-9]+)$ controllers/inventory/suppliers/product/page.php?start=$1 [L]
RewriteRule ^suppliers-product/search-by-id/([0-9]+)$ controllers/inventory/suppliers/product/search.php?supplierid=$1 [L]
RewriteRule ^suppliers-product/search$ controllers/inventory/suppliers/product/search.php [L]
RewriteRule ^suppliers-product/read-category-id/([0-9]+)$ controllers/inventory/suppliers/product/read-by-category-id.php?categoryid=$1 [L]

#sales 
RewriteRule ^sales$ controllers/inventory/sales/sales.php [L]
RewriteRule ^sales/([0-9]+)$ controllers/inventory/sales/sales.php?salesid=$1 [L]
RewriteRule ^sales/active/([0-9]+)$ controllers/inventory/sales/active.php?salesid=$1 [L]
RewriteRule ^sales/page/([0-9]+)$ controllers/inventory/sales/page.php?start=$1 [L]
RewriteRule ^sales/search$ controllers/inventory/sales/search.php [L] 

#upload Photo
RewriteRule ^member/upload/photo$ core/upload-photo.php [L]

#my-order
RewriteRule ^my-order/page/by-member-id/([0-9]+)/([0-9]+)$ controllers/account/details/my-order/page-by-member-id.php?start=$1&membersid=$2 [L]
RewriteRule ^my-order/active/([0-9]+)$ controllers/account/details/my-order/active.php?orderid=$1 [L]
RewriteRule ^my-order/search/by-member-id/([A-Za-z0-9-]+)/([0-9]+)$ controllers/account/details/my-order/search-by-member-id.php?search=$1&membersid=$2 [L]
RewriteRule ^my-order/filter/by-member-id/([0-9]+)$ controllers/account/details/my-order/filter-by-member-id.php?membersid=$1 [L]
 
#SETTINGS SYSTEM MODE
RewriteRule ^system-maintenance$ controllers/settings/system-maintenance/system-mode.php [L]
RewriteRule ^system-maintenance/([0-9]+)$ controllers/settings/system-maintenance/system-mode.php?systemModeId=$1 [L]
RewriteRule ^system-maintenance/active/([0-9]+)$ controllers/settings/system-maintenance/active.php?systemModeId=$1 [L]
RewriteRule ^system-maintenance/maintenance$ controllers/settings/system-maintenance/read-maintenance-on.php [L]

#POINT OF SALES
RewriteRule ^pos/orders/([0-9]+)$ controllers/point-of-sales/pages.php?membersid=$1 [L] 
RewriteRule ^pos/orders/filter/([0-9]+)$ controllers/point-of-sales/pages.php?membersid=$1 [L]
RewriteRule ^pos/create/orders$ controllers/point-of-sales/point-of-sales.php [L] 
RewriteRule ^pos/update/orders/([0-9]+)$ controllers/point-of-sales/point-of-sales.php?orderid=$1 [L] 
RewriteRule ^pos/payment$ controllers/point-of-sales/payment.php [L] 
 
#SUBSCRIBE CAPITAL
RewriteRule ^subscribe-capital$ controllers/settings/subscribe-capital/subscribe-capital.php [L]
RewriteRule ^subscribe-capital/([0-9]+)$ controllers/settings/subscribe-capital/subscribe-capital.php?subscribeCapitalId=$1 [L] 
RewriteRule ^subscribe-capital/page/([0-9]+)$ controllers/settings/subscribe-capital/page.php?start=$1 [L]
RewriteRule ^subscribe-capital/search/([A-Za-z0-9-]+)$ controllers/settings/subscribe-capital/search.php?search=$1 [L]
RewriteRule ^subscribe-capital/active-by-id/([0-9]+)$ controllers/settings/subscribe-capital/read-active-by-id.php?membersId=$1 [L]
 
#CAPITAL AMORTIZATION
RewriteRule ^capital-amortization$ controllers/account/details/capital-share/amortization/amortization.php [L]
RewriteRule ^capital-amortization/([0-9]+)$ controllers/account/details/capital-share/amortization/amortization.php?amortizationId=$1 [L]  
RewriteRule ^capital-amortization/active/([0-9]+)$ controllers/account/details/capital-share/amortization/active.php?amortizationId=$1 [L] 
RewriteRule ^capital-amortization/read-all-active-by-id/([0-9]+)$ controllers/account/details/capital-share/amortization/read-all-active-by-id.php?amortizationId=$1 [L]  

#REPORT TOP SELLER
RewriteRule ^top-seller-report/page/([0-9]+)$ controllers/inventory/report/top-seller/report-top-seller.php?start=$1 [L] 
RewriteRule ^top-seller-report/filter-by-month$ controllers/inventory/report/top-seller/report-top-seller.php [L]
RewriteRule ^top-seller-report/all-pending-and-paid/([A-Za-z0-9-]+)$ controllers/inventory/report/top-seller/read-all-pending-and-paid.php?month=$1 [L]
 
#REPORT SALES
RewriteRule ^report-sales/report-category-list-by-supplier-id/([0-9]+)$ controllers/inventory/report/sales-report/report-category-list-by-supplier-id.php?supplierProductsid=$1 [L]
RewriteRule ^report-sales/report-product-list/([0-9]+)/([0-9]+)$ controllers/inventory/report/sales-report/report-product-by-supplier-category-id.php?supplierId=$1&categoryId=$2 [L]
RewriteRule ^report-sales/report-product-list-by-category/([0-9]+)$ controllers/inventory/report/sales-report/report-product-by-category-id.php?categoryId=$1 [L]
RewriteRule ^report-sales/filter-sales$ controllers/inventory/report/sales-report/report-filter-sales.php [L]
  
#PRODUCT HISTORY 
RewriteRule ^product-history$ controllers/inventory/suppliers/product/products-history/products-history.php [L]
RewriteRule ^product-history/([0-9]+)$ controllers/inventory/suppliers/product/products-history/products-history.php?productHistoryId=$1 [L]
RewriteRule ^product-history/active/([0-9]+)$ controllers/inventory/suppliers/product/products-history/active.php?productHistoryId=$1 [L]
RewriteRule ^product-history/page-by-id/([0-9]+)/([0-9]+)$ controllers/inventory/suppliers/product/products-history/page-by-id.php?start=$1&productHistoryId=$2 [L]
RewriteRule ^product-history/search-by-id/([0-9]+)$ controllers/inventory/suppliers/product/products-history/search.php?productHistoryId=$1 [L]
  
