@font-face {
  font-family: "poppinsRegular";
  src: url(/src/font/Poppins-Regular.ttf) format("truetype");
  font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  p {
    @apply mb-2;
  }
  body {
    @apply leading-relaxed font-[poppinsRegular] text-sm min-h-full text-dark;
  }
  table {
    @apply border-collapse border-spacing-2 text-left w-full p-1;
  }
  table tr {
    @apply border-b border-solid border-gray-300 hover:bg-gray-50;
  }
  table td {
    @apply p-1.5;
  }
  table td:last-child {
    @apply w-28;
  }
  table th {
    @apply font-bold bg-gray-200 p-1.5 whitespace-nowrap sm:whitespace-normal first:w-[2rem];
  }
  table th:last-child {
    @apply w-28;
  }
  input,
  select {
    @apply border border-solid border-gray-300 p-2 rounded-lg w-full h-[40px];
  }
  textarea {
    @apply block border border-solid border-gray-300 p-2 rounded-lg w-full h-28;
  }
  input:disabled,
  select:disabled,
  textarea:disabled,
  .disabled {
    @apply bg-gray-100 border-gray-200 cursor-not-allowed hover:bg-gray-100 hover:text-inherit hover:border-gray-200;
  }
  /* button:disabled {
    @apply bg-primary opacity-50 hover:bg-primary hover:opacity-50 hover:text-white cursor-not-allowed;
  } */
  input:focus,
  select:focus,
  textarea:focus {
    @apply border border-solid border-primary outline-0;
  }

  /* * {
    @apply border border-red-500;
  } */
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  p {
    @apply mb-2;
  }
  body {
    @apply leading-relaxed font-[poppinsRegular] text-sm min-h-full text-dark;
  }
  table {
    @apply border-collapse border-spacing-2 text-left w-full p-1;
  }
  table tr {
    @apply border-b border-solid border-gray-300 hover:bg-gray-50;
  }
  table td {
    @apply p-1.5;
  }
  table td:last-child {
    @apply w-28;
  }
  table th {
    @apply font-bold bg-gray-200 p-1.5 whitespace-nowrap sm:whitespace-normal first:w-[2rem];
  }
  table th:last-child {
    @apply w-40;
  }
  input,
  select {
    @apply block border border-solid border-gray-300 p-2 rounded-lg w-full bg-white;
  }

  label {
    @apply text-xs text-primary transform -translate-y-6 -translate-x-1 absolute left-3 top-4 px-1  z-10 isolate focus:bg-white;
  }

  label:after {
    @apply content-[''] w-[97%] h-[3px] absolute left-px top-[7.6px] bg-white -z-10 focus:bg-white;
  }
  /* label {
    @apply text-base text-gray-400 bg-white absolute left-2 top-[9px] px-1 transition duration-200 pointer-events-none;
  } */

  textarea {
    @apply block border border-solid border-gray-300 p-2 rounded-lg w-full h-28 bg-white;
  }
  input:disabled,
  select:disabled,
  textarea:disabled,
  .disabled {
    @apply bg-gray-100 border-gray-200 cursor-not-allowed hover:bg-gray-100 hover:text-inherit hover:border-gray-200;
  }
  /* button:disabled {
    @apply bg-primary opacity-50 hover:bg-primary hover:opacity-50 hover:text-white cursor-not-allowed;
  } */
  input:focus,
  select:focus,
  textarea:focus {
    @apply border border-solid border-primary outline-0;
  }

  ::-webkit-scrollbar {
    @apply appearance-none;
  }
  ::-webkit-scrollbar:vertical {
    @apply w-1;
  }
  ::-webkit-scrollbar:horizontal {
    @apply h-2 bg-transparent;
  }
  ::-webkit-scrollbar-track-piece {
    @apply bg-gray-300 rounded-xl;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded-xl;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-xl border-transparent border-8;
  }

  /* * {
    @apply border border-red-500;
  } */
}

@layer components {
  .wrapper {
    @apply relative min-h-screen pt-20 ml-0 px-3 md:ml-20 lg:ml-40 lg:px-10;
  }
  .btn-primary {
    @apply flex items-center justify-center text-white gap-2 px-3 py-1 bg-primary rounded-full border-primary border disabled:text-white disabled:bg-primary hover:bg-white hover:text-primary hover:border-gray-300 duration-300 ease-in disabled:cursor-not-allowed disabled:opacity-50;
  }
  .btn-action-table {
    @apply cursor-pointer text-gray-500 text-base align-middle border border-solid border-gray-300 !py-1.5 !px-3 rounded-md disabled:text-white disabled:bg-primary hover:bg-primary hover:text-white duration-200 ease-in disabled:cursor-not-allowed disabled:opacity-50;
  }
  .btn-modal-submit {
    @apply flex items-center justify-center text-white gap-2 px-3 py-1.5 bg-primary rounded-full border-primary border hover:bg-white hover:text-primary duration-200 ease-in w-full disabled:bg-primary disabled:opacity-50 disabled:hover:bg-primary disabled:hover:opacity-50 disabled:hover:text-white disabled:cursor-not-allowed;
  }
  .btn-modal-cancel {
    @apply flex items-center justify-center text-dark gap-2 px-3 py-1.5 bg-white hover:bg-gray-50 rounded-full border-gray-300 border w-full disabled:bg-gray-500 disabled:border-gray-500 disabled:opacity-50 disabled:hover:bg-gray-500 disabled:cursor-not-allowed;
  }

  .btn-modal-alert {
    @apply flex items-center justify-center text-white gap-2 px-3 py-1.5 bg-alert rounded-full border-alert border hover:bg-alert/80 hover:text-white duration-200 ease-in w-full disabled:bg-alert disabled:opacity-50 disabled:hover:bg-alert disabled:hover:opacity-50 disabled:hover:text-white disabled:cursor-not-allowed;
  }

  .btn-modal-warning {
    @apply flex items-center justify-center text-white gap-2 px-3 py-1.5 bg-warning rounded-full border-warning border hover:bg-warning/80 hover:text-white duration-200 ease-in w-full disabled:bg-warning disabled:opacity-50 disabled:hover:bg-warning disabled:hover:opacity-50 disabled:hover:text-white disabled:cursor-not-allowed;
  }

  .btn-modal-archive {
    @apply flex items-center justify-center text-white gap-2 px-3 py-1.5 bg-archive rounded-full border-archive border hover:bg-archive/80 hover:text-white duration-200 ease-in w-full disabled:bg-archive disabled:border-archive disabled:opacity-50 disabled:hover:bg-archive disabled:cursor-not-allowed;
  }

  .modal {
    @apply bg-dark/0 transition-all opacity-0;
  }
  .modal > .animate-slideUp {
    @apply translate-y-3 transition-all;
  }

  .modal.show {
    @apply bg-dark/50 opacity-100;
  }

  .modal.show > .animate-slideUp {
    @apply translate-y-0;
  }

  .modal-overflow {
    @apply h-full max-h-[30rem] overflow-y-auto pt-2 pr-2 -mt-2;
  }

  .modal-overflow::-webkit-scrollbar {
    @apply appearance-none w-1;
  }
  .modal-overflow::-webkit-scrollbar:vertical {
    @apply w-1;
  }
  .modal-overflow::-webkit-scrollbar:horizontal {
    @apply h-1 bg-gray-400;
  }
  .modal-overflow::-webkit-scrollbar-track-piece {
    @apply bg-gray-300 rounded-full;
  }
  .modal-overflow::-webkit-scrollbar-track {
    @apply bg-transparent rounded-xl;
  }
  .modal-overflow::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-xl border-transparent border-8;
  }
}

@layer utilities {
  li.active {
    @apply bg-white rounded-l-3xl relative before:absolute before:content-[""] before:h-full before:w-3 before:rounded-tr-2xl before:right-0 before:-bottom-12 before:shadow-[0_-25px_0_0_rgb(255,255,255)] text-primary after:absolute after:content-[""] after:h-full after:w-3 after:rounded-br-2xl after:right-0 after:-top-12 after:shadow-[0_25px_0_0_rgb(255,255,255)];
  }
  span.error-show {
    @apply text-[11px] absolute right-0 -bottom-5 text-red-500 italic z-50;
  }
  input.error-show,
  select.error-show,
  textarea.error-show {
    @apply border border-red-500 animate-shake;
  }

  label.error-show {
    @apply text-red-500;
  }
  .tooltip-action-table {
    @apply relative p-1 bg-transparent leading-none;
  }
  .tooltip-action-table::before {
    @apply content-[''] absolute w-0 h-0 -translate-y-3/4 left-2/4 -translate-x-2/4 bottom-full border-t-4 border-r-4 border-l-4 border-solid border-transparent border-t-dark/80 opacity-0 pointer-events-none;
  }
  .tooltip-action-table::after {
    @apply content-[attr(data-tooltip)] absolute left-2/4 -translate-x-2/4 bottom-full -top-[25px] bg-dark/80 text-white p-1 rounded-sm h-fit leading-none z-10 whitespace-nowrap text-center opacity-0 text-[10px] pointer-events-none;
  }
  .tooltip-action-table:hover::before {
    @apply opacity-100;
  }
  .tooltip-action-table:hover::after {
    @apply opacity-100;
  }
  .tooltip-navigation {
    @apply relative p-1 bg-transparent leading-none;
  }
  .tooltip-navigation::before {
    @apply content-[''] absolute w-0 h-0 top-2/4 -translate-y-2/4 rotate-90 left-20 border-t-4 border-r-4 border-l-4 border-solid border-transparent border-t-dark/80 opacity-0 pointer-events-none;
  }
  .tooltip-navigation::after {
    @apply content-[attr(data-tooltip)] absolute top-2/4 -translate-y-2/4 left-[86px]  bg-dark/80 text-white p-1 rounded-sm h-fit leading-none z-10 whitespace-nowrap text-center opacity-0 text-sm pointer-events-none;
  }
  .tooltip-navigation:hover::before {
    @apply md:opacity-100 opacity-0 lg:opacity-0;
  }
  .tooltip-navigation:hover::after {
    @apply md:opacity-100 opacity-0 lg:opacity-0;
  }
  .running {
    @apply gap-1 w-24 flex items-center justify-start py-2;
  }
  .running span {
    @apply bg-green-300 w-1 h-2 animate-grow1;
  }
  .running span:nth-child(2) {
    @apply animate-grow2;
  }
  .running span:nth-child(3) {
    @apply animate-grow3;
  }
  .running span:nth-child(4) {
    @apply animate-grow4;
  }
  .pause {
    @apply gap-1 w-24 flex items-center justify-start py-2;
  }
  .pause span {
    @apply bg-red-500 w-1 h-2;
  }
}

@media print {
  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  body {
    font-family: "Poppins", sans-serif;
    print-color-adjust: exact;
  }

  tr,
  th,
  td,
  small,
  p {
    @apply text-[10px];
  }
}
